<!-- For veiw reports/query data page  -->
<%- include("partials/header") -%>

<!-- Main Menu -->
 <section id="viewRqueryD">

   <div class="container-fluid text-center">

     <div class="row">
         <p class="mainMenu-text"> View Reports/Query Data: </p>
     </div>

     <div class="row">

        <div class="col-lg-4">
          <a class='mainMenu-text-p' href="/topManufacturer"><i class="fas fa-industry fa-4x feature-icon"></i></a>
          <p></p>
          <p class = tab-text-2> Top 25 Popular Manufacturers</p>
        </div>

        <div class="col-lg-4">
          <a class='mainMenu-text-p' href="/manufacturerModel"><i class="fas fa-cogs fa-4x feature-icon"></i></a>
          <p></p>
          <h3 class = tab-text-2>Search Manufacturers/Model</h3>
        </div>

        <div class="col-lg-4">
          <a class='mainMenu-text-p' href="/heatingCooling"><i class="fas fa-thermometer-half fa-4x feature-icon"></i></a>
          <p></p>
          <h3 class = tab-text-2>Report Heating/Cooling Method</h3>
        </div>

      </div>

      <div class="row">

         <div class="col-lg-4">
           <a class='mainMenu-text-p' href="/waterheaterStatistics"><i class="fas fa-tint fa-4x feature-icon"></i></a>
           <p></p>
           <p class = tab-text-2> Report Water Heater Statistics by State</p>
         </div>

         <div class="col-lg-4">
           <a class='mainMenu-text-p' href="/offTheGridHousehold"><i class="fas fa-solar-panel fa-4x feature-icon"></i></a>
           <p></p>
           <h3 class = tab-text-2>Create off-the-grid Household Dashboard</h3>
         </div>

         <div class="col-lg-4">
           <a class='mainMenu-text-p' href="/householdAveragesByRadius"><i class="fas fa-map-marker-alt fa-4x feature-icon"></i></a>
           <p></p>
           <h3 class = tab-text-2>Report Household averages by Radius</h3>
         </div>

       </div>


   </div>

 </section>

<%- include("partials/footer") -%>
