<!-- For wrappingUp page  -->
<%- include("partials/header") -%>

<!-- view appliance -->
<section id="wrappingUp">

  <div class="container-fluid text-center">

    <div class="row">
      <p class="mainMenu-text"> Great job! Submission complete!! </p>
    </div>

    <div class="row">
      <a class='mainMenu-text-p' href="/"><i class="fa-solid fa-bullseye fa-4x feature-icon"></i></a>
      <p></p>
      <h3 class = tab-text-2>Return to the main menu</h3>
    </div>

    <div class="row">
      <div class="col">
        <img src="https://media.giphy.com/media/L2fiwKj5VfpFycNDZA/giphy.gif" alt="Tesla Cybertruck" />
      </div>
    </div>

  </div>

</section>

<%- include("partials/footer") -%>
